<h2>Edit the item: {{this.title}}</h2>

<div id="create-form">
  <form action="/item/{{this._id}}/edit" method="POST"  enctype="multipart/form-data"> 
  <h1>id:{{this._id}} </h1>
    <label> Title
      <input type="text" value = "{{this.title}}"name="title" placeholder="Your Item Title" />
    </label>


    <label> Description:
        <input type="text" value="{{this.description}}"name="description" cols="30" rows="4" />
    </label>

    <label> Price
      <input type="number" value ="{{this.price}}" name="price"/>
    </label>
     <label> Condition
      <input type="text" value = "{{this.condition}}" name="condition"/>
    </label>
    <label>Image:
          <input type="file" name="image" />
        </label>
        <label> Contact Email:
          <input type="email", name="email", value="{{this.email}}"/>
        </label>

    <button type="submit">Save Changes</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>