<h2>{{this.title}}</h2>
<p>
    Description : {{this.description}} <br>
    Condition : {{this.condition}} <br>
    Price : {{ this.price}} <br>
    Images : {{this.image}} <br>
    Contact Email : {{this.email}} <br>

</p>
<a href="/item"> Go to List of Items</a>