<style>
    .product-image {
      max-width: 100%;
      height: auto;
      width: 300px;
      max-height: 300px;
    }
  </style>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="{{this.image}}" alt="Product Image" class="img-fluid product-image object-fit: contain; height: 350px;">
      </div>
      <div class="col-md-8">
        <h2>{{this.title}}</h2>
        <p><strong>Description:</strong> {{this.description}} </p>
        <p><strong>Condition:</strong> {{this.condition}} </p>
        <p><strong>Price:</strong> {{this.price}} </p>
        <p><strong>User's Email:</strong> {{this.user.email}} </p>
        <hr>

        
          <a href="/item/{{this._id}}/edit" class="btn btn-primary pr-2">Edit Item</a>
          <form action="/item/{{_id}}/delete" method="POST">
              <button class="btn btn-primary mt-3">Delete Item</button>
          </form>
       

        <a href="/item"> Go to List of Items</a>
      </div>
    </div>
  </div>


