<h1>Items in our Website:</h1>

{{#each item}}
    <section >
        <h2>{{this.title}}</h2>
        <p>
            Title: {{this.title}} <br />
            Description: {{this.description}} <br />
            Condition: {{this.condition}} <br /> 
           Price: {{this.price}} <br />
            Images: <img src="{{imageUrl}}" alt=""> <br />
            
            
        </p>
<a href="/items/{{this._id}}/edit">Edit</a>
        <form action="/items/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>

    </section>
{{/each}}