<h1>Items in our Website:</h1>

{{#each item}}
    <section >
        <h2>{{this.title}}</h2>
        <p>
            Title: {{this.title}} <br />
            Description: {{this.description}} <br />
            Condition: {{this.condition}} <br /> 
           Price: {{this.price}} <br />
            Images: <img src="{{this.image}}" alt=""> <br />
            
            
       </p>
<a href="/item/{{this._id}}/edit">Edit</a>
        <form action="/item/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
        <a href="/item/{{this._id}}"> See Details</a>

    </section>
{{/each}}